/*Custom CSS*/




.nav-pills > li > a {
    border-radius: 0;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.nav-pills-portfolio > li > a {
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    font-size: 18px;
}
.nav-pills-portfolio {
    float: left;
    margin-bottom: 10px;
}
.portfolio-switch {
    float: right;
    list-style: none;
    margin-top: 4px;
}
.portfolio-switch li {
    float: right;
    margin-left: 20px;
}
.portfolio-nav {
    overflow: hidden;
}
.dropdown .dropdown-menu {
    background-clip: padding-box;
    background-color: #333333;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    list-style: none outside none;
    z-index: 1000;
    top: 98%;
}
.in .dropdown .dropdown-menu {
    box-shadow: none;
}
.navbar .nav > li > .dropdown-menu:after {
    border: none;
}
.navbar .nav > li > .dropdown-menu:before {
    border: none;
}
.dropdown-menu {
    border: none;
    margin: 0;
}
.nav-pills .dropdown-menu {
    border-radius: 0 0 0 0;
}
.navbar {
    margin: 0;
}
.navbar-inner {
    padding: 0;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    box-shadow: none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #ffffff;
}
.navbar .in .nav li.dropdown.open > .dropdown-toggle, .navbar .in .nav li.dropdown.active > .dropdown-toggle, .navbar .in .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #333333;
    color: #ffffff;
}


.block-posts .block-post-more {
    text-decoration: underline;
}
.block-posts p {
    padding: 0;
}
.block-posts .block-post-date {
    padding-bottom: 10px;
    color: #898989;
}
.clients {
    margin-bottom: 20px;
}


