@font-face {
    font-family: 'Sarabun';
    src: url('../fonts/Sarabun-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun-Bold';
    src: url('../fonts/Sarabun-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
