        .errorlistcontainer{
            margin-left:25px;
        }

        ol:not(.breadcrumb) {
            counter-reset: li; /* Initiate a counter */
            list-style: none; /* Remove default numbering */
            *list-style: decimal; /* Keep using default numbering for IE6/7 */
            font: 17px 'trebuchet MS', 'lucida sans';
            padding: 0;
            /*margin-bottom: 4em;*/
            text-shadow: 0 1px 0 rgba(255,255,255,.5);
        }

        ol ol {
            margin: 0 0 0 3em; /* Add some left margin for inner lists */
            font-size:14px;
        }
        .rounded-list a{
            position: relative;
            display: block;
            padding: .4em .4em .4em 2em;
            *padding: .4em;
            margin: .5em 0;
            /*color: #444;*/
            /*background: #ddd;*/
            color: #D8000C;
            background-color: #FFBABA;


            text-decoration: none;
            border-radius: .3em;
            transition: all .3s ease-out;
        }
            .rounded-list a{
            position: relative;
            display: block;
            padding: .4em .4em .4em 2em;
            *padding: .4em;
            margin: .5em 0;
            /*color: #444;
            background: #ddd;*/

            color: #9F6000;
            background-color: #FEEFB3;

            /*color: #D8000C;
            background-color: #FFBABA;*/ 

            text-decoration: none;
            border-radius: .3em;
            transition: all .3s ease-out;
        }
        .rounded-list  ol a{
            /*color: #444;
            background: #ddd;*/
            color: #D8000C;
            background-color: #FFBABA;
        }

        .rounded-list a:hover{
            background: #eee;
        }

        .rounded-list a:hover:before{
            transform: rotate(360deg);
        }

        .rounded-list a:before{
            content: counter(li);
            counter-increment: li;
            position: absolute; 
            left: -1.3em;
            top: 50%;
            margin-top: -1.3em;
            background: #87ceeb;
            /*color: #9F6000;
            background-color: #FEEFB3;*/

            height: 2em;
            width: 2em;
            line-height: 2em;
            border: .3em solid #fff;
            text-align: center;
            font-weight: bold;
            border-radius: 2em;
            transition: all .3s ease-out;
        }        
        .validationElement{
            border: 1px solid #D8000C;
        }
